@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #E65763, #34073D);
    color: white;
    text-align: center;
    padding-top: 30px;
}
#tasks-container {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ion-icon {
    font-size: 25px;
    /* color: black; */
}

/* -----------------------------------
-------------tasks form---------------
--------------------------------------*/

#tasks-header {
    margin-top: 40px;
}
#add-task-form {
    position: relative;
    text-align: left;
}
#tasks-header input {
    box-sizing: border-box;
    border: 1px solid #34073D;
    background: white;
    color: #34073D;
    padding: 15px;
    font-size: 18px;
    width: 440px;
}
#add-task-form input::placeholder {
    color: #34073D;
}
#add-task-form input:focus {
    outline: none;
}
#add-btn {
    position: absolute;
    background: white;
    color: black;
    border: 1px solid #34073D;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 51px;
    top: 0;
    right: 0;
    /* padding-top: 3px; */
    text-align: center;
}

#add-btn:hover {
    background-color: #34073D;
    color: white;
    border-color: rgba(255, 255, 255, 0.171);
}

#icon-add-outline {
    margin-top: 13px;
}

/* ------------------------------------
-----------tasks container-------------
---------------------------------------*/

#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid #34073D;
    background-color: white;
    color: #34073D;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
    font-weight: bold;
}

#task-list ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.icon-close {
    right: 0;
}

.icon-close:hover {
    color: white;
    background-color: red;
}
.icon-check {
    right: 40px;
}

.icon-check:hover {
    color: white;
    background-color: rgb(27, 221, 27);
}

/* CLASSE PARA ESCONDER A TASK */
.hide {
    display: none;
}

.task-title {
    /* background-color: red; */
    display: block;
    width: 400px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.task-title::-webkit-scrollbar { 
    display: none;
}

/* CLASSE DONE */
#task-list li.done {
    background-color: #34073D;
    color: white;
    text-decoration: line-through;
}
