* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#area-tarefa {
    text-align: center;
    max-width: 800px;
    margin: auto;
}
div#form-tarefa {
    display: flex;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
}
#input-tarefa {
    width: 465px;
    border: 0px;
    border-right: 1px solid black;
}
#area-icon {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 35px;
    height: 35px;
}
#area-icon2 {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 35px;
    height: 35px;
}
#area-icon3 {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 35px;
    height: 35px;
}
ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
li {
    text-align: center;
}
.conteudo-lista {
    display: inline-block;
    height: fit-content;
    width: 100px;
    margin-bottom: 20px;
}